{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Control your business from one place, ERP systems. Business automation">
  <title>unitic - Cart</title>
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->

  <!-- Favicon -->
  <link rel="icon" href="{% static 'assets/img/brand/favicon1.png' %}" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css' %}">
  <!-- Icons -->
  <link rel="stylesheet" href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/argon.css' %}" type="text/css">
	<!-- logo fonts style -->
	<link rel="stylesheet" href="{% static 'assets/css/new_style.css' %}" type="text/css">

</head>

</head>

<body class="bg-default">
  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="{% url 'home' %}">
        <h1 id="logoFont">unitic</h1>
      </a>
      <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">

            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav mr-auto">

        </ul>
      </div>
    </div>
  </nav>
        <div class="main-content">
          <!-- Header -->
          <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
            <div class="container">
              <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                  {% block content %}{% endblock content %}
                </div>
              </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
              <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
              </svg>
            </div>
          </div>

    {% block head %}{% endblock head %}
    {% block style %}{% endblock style %}

<body>
    <div class="container">

        <!-- Footer -->
        <footer class="py-5" id="footer-main">
          <div class="container">
            <div class="row align-items-center justify-content-xl-between">
              <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                  &copy; 2020 <a href="#" class="font-weight-bold ml-1" target="_blank">Creative Tim & unitic team</a>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- Argon Scripts -->
        <!-- Core -->
        <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/vendor/js-cookie/js.cookie.js' %}"></script>
        <script src="{% static 'assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
        <script src="{% static 'assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
        <!-- Argon JS -->
        <script src="{% static 'assets/js/argon.js' %}"></script>
        </body>

        </html>
